%nav.navbar.navbar-expand-lg{:style => "background-color: rgba(255, 255, 255, 0.29);"}
  .container-fluid
    %a.navbar-brand.text-light{:href => root_path, :style=>"font-size:22px;"} MyCase
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0

        - if user_signed_in?
          %li.nav-item
            %span.material-symbols-outlined.dropdown{:style=>"font-size:29px; left:4px; top:4px; color:white;"}
              account_circle
          %li.nav-item.dropdown
            #navbarDropdown.nav-link.dropdown-toggle.text-light{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              My Profile
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                %a.dropdown-item{:href => new_avatar_path} Update avatar
              %li
                %a.dropdown-item{:href => edit_user_registration_path} Update personal data

          %li.nav-item
            %span.material-symbols-outlined.dropdown.ms-2{:style=>"font-size:25px; left:4px; top:6px; color:white;"}
              library_books
          %li.nav-item.dropdown
            #navbarDropdown.nav-link.dropdown-toggle.text-light{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Cases
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                %a.dropdown-item{:href => new_case_path} Create New Case
              %li
                %a.dropdown-item{:href => cases_path} View All Cases

        - if user_signed_in?
          %li.nav-item.ms-3
            = button_to "Sign out", destroy_user_session_path, method: :delete, :class => 'btn btn-danger'

      - if user_signed_in?
        %ul.navbar-nav.ml-auto.me-5
          %li.nav-item.ms-3
            - if current_user.avatar.attached?
              = link_to new_avatar_path do
                = image_tag(current_user.avatar, :style => "display:inline-block; width:40px; height:40px; border-radius:50%; object-fit:cover;")
            - else
              = link_to new_avatar_path do
                %span.material-symbols-outlined.dropdown{:style=>"font-size:34px; left:4px; top:2px; color:white;"} account_circle
