.text-danger
  - if resource.errors.any?
    %h4 #{@case.errors.count} errors prohibited this #{resource.class} from being saved:
    %ul
      - @case.errors.full_messages.each do |message|
        %li= message