.navbar.navbar-expand-lg.navbar-light{style: "background-color:white; position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; height: 60px; border-top: solid black 1px;"}
  .container-fluid
    .navbar-brand
      %i.fa.fa-balance-scale.text-dark{style: "font-size:25px;"}
      %a.ms-1.text-dark{href: root_path, style: "text-decoration:none; font-size:27px;"} CaseWise
