= stylesheet_link_tag('sidebar.css')

.sidenav.collapsible
  %br
  %hr.text-white
  %a{href: root_path}
    %i.fa.fa-home
    Home

  %button.dropdown-btn
    %i.fa.fa-user
    MyProfile
    %i.fa.fa-caret-down
  .dropdown-container
    %a{href: edit_avatar_path} Update Avatar
    %a{href: edit_user_registration_path} Update personal data

  %button.dropdown-btn
    %i.fa.fa-clipboard
    Cases
    %i.fa.fa-caret-down
  .dropdown-container
    %A{href: new_case_path} Create New Case

  = button_to destroy_user_session_path, method: :delete, class: 'signout-btn', form: { data: { turbo_confirm: 'Are you sure you want to sign out?' } } do
    %i.fa.fa-power-off
    Sign out
  %br

= javascript_include_tag ('sidebar.js')
