.div{style: 'margin-left: 100px;'}
  %h1 Home#homepage

  = link_to 'Login', new_user_session_path
  = link_to 'SignUp', new_user_registration_path

  %br
  %br
  
  %i.fa.fa-car

  %br
  %br

  %span.material-symbols-outlined
    home
  %span.material-symbols-outlined
    search
  %span.material-symbols-outlined
    account_circle

  %br
  %br


  = link_to 'Home', root_path, class: 'btn btn-danger'