.card.mx-auto.p-4.border-4.border-light{style: "width:700px; margin-bottom:50px; border-radius:16px;"}
  %h3.text-center Notes
  = form_with model: @note, url: case_managers_case_notes_path, method: :post do |form|
    Write your notes here
    = form.text_area :content, class: 'form-control'
    %br/
    .text-center{style:"width:20%; margin-left:40%"}
      = form.submit "Add Note", class: 'form-control btn btn-info'
